{% extends "base.html" %}

{% block heading %}
{% endblock %}

{% block subhead %}
    {% if isEmpty %}
        <div class="alert alert-warning w-50 mx-auto" role="alert">
        <center>Make sure to search for the game!</center>
        </div>
    {% endif %}

    {% if submit %}
        {% if isMatching %}
            Showing results for the game <strong>{{ game }}</strong>
        {% else %}
            Could not find results for <strong>{{ user_input }}</strong>. Showing results for <strong>{{ gameTitle }}</strong> instead.
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
   <form role="search" action="/deal_search" method="POST">
        <input class="form-control me-2 mb-2" type="search" name="input" placeholder="Type game here" aria-label="Search" />

        <button type="submit" class="btn btn-primary d-block mx-auto col-6">Search</button>
    </form>

    {% if submit %}
        <p>Cheapest: {{ cheapest[0] }} - {{ cheapest[1] }} (€ {{ cheapest[2] }})</p>

        <ul>
        {% for country, price, euro_price, code in sorted_prices %}
            <li>{{ country }} — {{ price }} —  € {{ euro_price }}</li>
        {% endfor %}
        </ul>    
    {% endif %}
    
{% endblock %}